body {
    margin: 0;
    padding: 0;
    background-color: #1e1e1e;       
    color: #47f5ac;              
    font-family: 'Press Start 2P', monospace;
    font-size: 16px;             
    text-align: center;
  }
  
  .screen {
    display: none; 
    min-height: 100vh; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .screen.active {
    display: flex; 
  }
  
  h1, h2 {
    margin: 10px 0;
    line-height: 1.3
  }
  
  .menu-list {
    list-style: none;
    padding: 0;
    margin: 20px 0;
  }
  
  .menu-list li {
    margin: 10px 0;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .menu-list li:hover {
    color: rgb(255, 255, 255); 
  }
  
  .btn-back {
    margin-top: 20px;
    background: none;
    border: 1px solid #47f5ac;
    color: #47f5ac;
    padding: 10px 20px;
    font-family: 'Press Start 2P', monospace;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .btn-back:hover {
    background: #47f5ac;
    color: #1e1e1e;
  }
  
  .blinking-cursor {
    display: inline-block;
    margin-top: 20px;
    font-size: 1.2em;
    animation: blink 1s infinite step-start;
  }
  
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
  
  pre.ascii-art {
    line-height: 1;  
    font-family: 'Press Start 2P', monospace;
    margin: 0;       
    white-space: pre; 
  }

  a {
    color:#a1fdd7
  }

    .toggleBtn {
      background: none;
      border: 0px solid #47f5ac;
      color: #47f5ac;
      font-family: 'Press Start 2P', monospace;
      cursor: pointer;
      transition: background 0.3s;
    }
    
    .toggleBtn:hover {
      color: #ffffff;
    }

    .toggleBtn:active {
      color: #ffffff;
    }

    input[type="range"] {
      width: 200px;
      -webkit-appearance: none; 
      background: transparent;  
    }
    
    input[type="range"]::-webkit-slider-runnable-track {
      height: 6px;
      background: #47f5ac;
    }
    input[type="range"]::-moz-range-track {
      height: 6px;
      background: #47f5ac;
    }
    
    input[type="range"]::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 6px;
      height: 14px;
      background: #47f5ac;
      cursor: pointer;
      border-radius: 0%;
      margin-top: -4px;
    }
    input[type="range"]::-moz-range-thumb {
      width: 6px;
      height: 14px;
      background: #47f5ac;
      cursor: pointer;
      border-radius: 0%;
    }
    
    input[type="range"]:hover::-webkit-slider-thumb {
      background: #47f5ac;
    }

    input[type="range"]:hover::-webkit-slider-thumb {
      background-color: #ffffff;
    }

    input[type="range"]:hover::-moz-range-thumb {
      background-color: #ffffff;
    }

    input[type="range"]:active::-webkit-slider-thumb {
      background-color: #ffffff;
    }

    input[type="range"]:active::-moz-range-thumb {
      background-color: #ffffff;
    }
    
    .settings-row {
      width: 400px;                 
      display: flex;
      align-items: center;          
      margin: 10px auto;        
    }
    
    .settings-label {
      width: 80px;                  
      text-align: left;             
      font-family: 'Press Start 2P', monospace;
    }
    
    .settings-control {
      flex: 1;                      
      display: flex;
      justify-content: flex-end;    
    }
    
    p {
      padding: 0;
      margin: 10px 0;
    }

    @media (max-width: 600px) {
      body {
          font-size: 0.8em;
      }
  
      .settings-row {
        width: 300px;                 
        display: flex;
        align-items: center;          
        margin: 10px auto;        
      }
      
      .settings-label {
        width: 50px;                  
        text-align: left;             
        font-family: 'Press Start 2P', monospace;
      }
  
      input[type="range"] {
        width: 130px;
        -webkit-appearance: none; 
        background: transparent;  
      }
  }
  

      
  